.header {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  overflow-x: scroll;
}

.header::-webkit-scrollbar {
  display: none;
}
.header {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.header__icons {
  display: flex;
  align-items: center;
  text-align: center;
}

.header__icon > MuiSvgIcon-root {
  font-size: 30px;
}

.header__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  width: 100px;
}

.header__icon > p {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: small;
  margin-left: auto;
  margin-right: auto;
  display: none;
}

.header__icon:hover > p {
  display: inline-flex;
}

.header__icon--active > p {
  display: inline-flex !important;
}

.header > img {
  object-fit: contain;
  width: 80px;
}
